<div >
    <!-- Feed Section -->
     <!-- Post Section (Sample Post) -->
     <div class="card" style="border-top: 5px solid #007bff;">
      <div class="card-body">
        <div class="row ">
          <!-- Avatar on the left -->
          <div class="col-md-3">
            <img src="./../../assets/avatar.webp" alt="User Avatar" class="img-fluid rounded-circle mb-3" style="width: 60px; height: 60px;">
          </div>
    
          <!-- Buttons on the right -->
          <div class="col-md-9  mt-3" style="text-align: right">
            <button class="btn  mr-2">Post a Project</button>
            <button class="btn btn-primary">Post a Job</button>
          </div>
        </div>
      </div>
    </div>
    

    <app-user-interest></app-user-interest>




  
<!-- top profile -->
<div>
    <app-couroser></app-couroser>
</div>



        <!-- User interests and location -->
        <app-user-interest></app-user-interest>
</div>
   
  