
<!-- <app-navbar></app-navbar>
<div class="container-fluid main-page">
    <div class="row ">
<app-home class="col-md-3"></app-home>
<app-center class="col-md-6"></app-center>
<app-right class="col-md-3"></app-right>
</div>
</div>   -->

<!-- <app-toasts></app-toasts> 
    -->
    <!-- <div *ngIf="!signin">
    <app-tabs></app-tabs>
    </div> -->
 
<!-- 
    <app-navbar></app-navbar>
    <div class="container-fluid main-page">
        <div class="row ">
    <app-home class="col-md-3"></app-home>
    <app-center class="col-md-6"></app-center>
    <app-right class="col-md-3"></app-right>
    </div>
    </div> -->
    <!-- <app-chat></app-chat> -->
    
  

    

 <!-- app.component.html -->


 <!-- <app-chat></app-chat> -->
   <router-outlet></router-outlet> 

  <!-- app.component.html -->

<!-- app.component.html -->

<!-- <div>
    <label for="toUserId">Recipient's ID:</label>
    <input type="number" id="toUserId" [(ngModel)]="toUserId" />
  
    <label for="message">Message:</label>
    <input type="text" id="message" [(ngModel)]="message" />
  
    <button (click)="sendMessage()">Send Message</button>
  
    <div *ngFor="let receivedMessage of receivedMessages">
      <p>{{ receivedMessage.fromUserId }}: {{ receivedMessage.message }}</p>
    </div>
  </div> -->
  

  <!-- <div>
    <h2>SignalR Chat</h2>
    <div>
      <input [(ngModel)]="user" placeholder="Enter your name" />
      <input [(ngModel)]="message" placeholder="Type a message" />
      <button (click)="sendMessage()">Send</button>
    </div>
    <div *ngFor="let msg of messages">
      {{ msg.user }}: {{ msg.message }}
    </div>
  </div>
   -->