













<!-- <div class="container-fluid">
    <div class="row mt-5">
<div class="col-md-6">
     -->
<!-- </div>
<div class="col-md-4">
    <div class="card-body">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email"placeholder="email" [(ngModel)]="email" class="form-control"name="email" aria-describedby="emailHelp">
             
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" placeholder="password" class="form-control" [(ngModel)]="password" name="password ">
            </div>
           
            <button type="button" class="btn btn-primary" (click)="login()">Login</button>
          </form>
    </div>

</div>
<div class="col-md-6">

</div>
    </div>
</div> -->


<!-- <uppy-dashboard > </uppy-dashboard> -->


<!-- <uppy-drag-drop  > </uppy-drag-drop> -->



