<body>


    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top mt-6">
      <a class="navbar-brand ml-5" href="home.html">Forum</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="d-flex flex-column align-items-center">
              <a class="nav-link" href="#">Tag</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex flex-column align-items-center">
              <a class="nav-link" href="#">Users</a>
            </div>  
          </li>
          <a class="btn btn-primary text-white"  (click)="askQuestion()"> Ask a Question</a>
          </ul>
         
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-success" type="submit"><i class="fas fa-search" style="color: white;"></i></button>
          </div>
          
        </div>
        <button class="btn btn-success ml-3" type="submit">Login</button>
        <button class="btn btn-success ml-3" type="submit">Register</button>
      </form>
    </div> 
    </nav>
  
     <!-- Navigation Bar -->
     <nav class="navbar navbar-expand-md navbar-dark bg-white mt-12">
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav mr-auto ml-5">
          <li class="nav-item">
            <div class="d-flex flex-column align-items-center">
              <a class="nav-link" id="color" href="#">Latest</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex flex-column align-items-center">
              <a class="nav-link " id="color" href="#">Unanswered</a>
            </div>  
          </li>
          <li class="nav-item">
            <div class="d-flex flex-column align-items-center">
              <a class="nav-link" id="color" href="#">Trending</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex flex-column align-items-center">
              <a class="nav-link"  id="color" href="#">Popular This Week</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex flex-column align-items-center">
              <a class="nav-link" id="color" href="#">Popular of Month</a>
            </div>
          </li>
          <li class="nav-item">
            <div class="d-flex flex-column align-items-center">
              <i class="fas fa-message" style="color: white;"></i>
              <a class="nav-link" href="messages.html">Messages</a>
            </div>
          </li>
         
          </ul>
          </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      </nav>
  