 <!---------------- Main Content ------------------------->
 

      <!-- Left Side Section -->
    
       
        <!-- Add your content for the left section here -->
        
        <div class="card">
          <!-- Top part of the card with different color -->
          <div class="card-header text-center " style="padding: 15px; margin:0; background: linear-gradient(to bottom, #007bff 50%, #ffffff 50%); color: #fff;">
            <img src="./../../assets/avatar.webp" alt="User Avatar" class="img-fluid rounded-circle mb-3" style="width: 100px; height: 100px;">
          </div>

          <div class="card-body text-center">
            <!-- User Details -->
            <h5 class="card-title">{{emailService.userInformation.firstName}}</h5>
            <p class="card-text">Skills or Interests</p>

            <!-- Followers and Following -->
      
            <div class="col">
              <p class="mb-0">Following</p>
              <p class="font-weight-bold">100</p>
            </div>
            <div class="col">
              <p class="mb-0">Followers</p>
              <p class="font-weight-bold">500</p>
            </div>
              <hr>

            <!-- View Profile Button -->
              <a href="#" class="primary  mt-3">View Profile</a>
          </div>
        </div>

        <div class="card mt-5">
          <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #fff;">
            <!-- Heading on the left -->
            <h5 class="mb-0">Suggestions</h5>
            <!-- Three dots on the right -->
            <span>&#8942;</span>
          </div>

          <div class="card-body">
            <!-- Avatar, Name, and Interest -->
            <div class="d-flex justify-content-between align-items-center">
              <!-- Avatar on the left -->
              <img src="./../../assets/avatar.webp" alt="User Avatar" class="img-fluid rounded-circle mr-3" style="width: 40px; height: 40px;">
  
              <!-- Name and Interest -->
              <div class="text-left">
                <h6 class="mb-1">John Doe</h6>
                <p class="mb-0 text-muted">Web Developer</p>
              </div>
  
              <!-- Icon at the extreme right -->
              <div class="text-right" style="border: #bdbebd solid 1px; padding:4px;">
                <span class="material-icons text-dark plus">
                    add
                    </span>
              </div>
            </div>

            
    </div>
    </div>
   
