
     
   
  <!-- Flexbox container for aligning the toasts -->


  <!-- <button (click)="sub()">-</button>
  {{x}} 
  <button (click)="add()">+</button> -->
	
  <app-tabs > </app-tabs> 
  <!-- <app-toasts></app-toasts> -->


      <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <h1 class="my-5 display-3 fw-bold ls-tight">
                The best Web App <br />
                <span class="text-primary">for Student Collaboration</span>
              </h1>
              <p style="color: hsl(217, 10%, 50.8%)">
                The Student Social Networking Web Application aims to create a platform for university students to connect, collaborate, and share resources within their academic community. The web application will provide various features tailored to the needs of students, including profile creation, messaging, file sharing, event organization, and discussion forums.
              </p>
            </div>
    
            <div class="col-lg-6 mb-1 ">
              <div class="card">
                <div class="card-body py-4 px-md-5">
                  <form #f = 'ngForm' (ngSubmit)="onSubmit(f)">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <div class="form-group">
                          <label >First name</label>
                          <input type="text" placeholder="eg. Theophilus"
                           name="firstName" 
                           ngModel 
                           #firstName="ngModel" 
                          class="form-control" 
                          (change)="onChange(firstName)"
                          required
                          minlength="5"
                          maxlength="15"
                         
                          
                          [ngClass]="{'is-invalid':firstName.touched && firstName.invalid}"
                          >
                          <div *ngIf="firstName.errors?.['required']"  class="error-c">
                            <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">This filled required input</div>
                          </div>
                          <div *ngIf="firstName.errors?.['minlength']" class="error-c" style="font-size: 12px;">
                            <div class="alert alert-danger " *ngIf="firstName.touched && firstName.invalid" style="padding: 5px; ">this field should be more than 4 characters</div>
                          </div>
                          
                          
                         
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <div class="form-group">
                          <label>Last name</label>
                          <input type="text" placeholder="eg. Quaicoe" class="form-control" 
                          name="surname"
                          ngModel
                          #surname = 'ngModel'
                          required
                          
                          [ngClass]="{'is-invalid':surname.touched && surname.invalid}"
                          
                          />
                          <div class="alert alert-danger" *ngIf='surname.touched && surname.invalid'>surname is required</div>
                          
                        </div>
                      </div>
                    </div>
    
                    <!-- Email input -->
                    <div class="form-group mb-4">
                      <label >Email address</label>
                      <input type="email" placeholder="quai@gmail.com" class="form-control" 
                      name="email"
                      ngModel
                      #email="ngModel"
                      required
                      pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"

                      [ngClass]="{'is-invalid': email.touched && email.invalid}"
                      />
                      <div *ngIf="email.errors?.['required']">
                      <div class="alert alert-danger" *ngIf="email.invalid&&email.touched">The email field is required</div>
                      </div>
                      <div *ngIf="email.errors?.['pattern']">
                      <div class="alert alert-danger">Invalid input</div>
                      </div>
                      
                    </div>
    
                    <!-- Password input -->
                    <div class="form-group mb-4">
                      <label >Password</label>
                      <input type="password" placeholder="password" class="form-control"
                      required
                      ngModel
                      name="password"
                      #password = "ngModel"
                      
                      [ngClass]="{'is-invalid':password.invalid && password.touched}"
                      />
                      <div *ngIf="password.errors?.['required']" >
                      <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                      this input is required
                    </div>
                      </div>
                      <!-- <div *ngIf="password.errors?.['pattern']">
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        <div class="alert alert-success">Must contain at least one  number and one uppercase 
                          and lowercase letter, and at least 8 or more characters</div>
                        </div> -->
                      
                    </div>
                    <!-- <div class="form-group mb-4">
                      <label >confirm password</label>
                      <input type="password" placeholder="password" class="form-control"
                      required
                      ngModel
                      name="confirm"
                      #confirm = "ngModel"
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                      [ngClass]="{'is-invalid':password.invalid && password.touched}"
                      />
                      <div *ngIf="password.errors?.['required']" >
                      <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                      this input is required
                    </div>
                      </div>
                      <div *ngIf="password.errors?.['pattern']">
                        <div class="alert alert-success">Must contain at least one  number and one uppercase 
                          and lowercase letter, and at least 8 or more characters</div>
                        </div>
                      
                    </div> -->
    
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                      <label class="form-check-label" for="form2Example33">
                        Subscribe to our  newsletter
                        <i class="bi bi-0-circle"></i>
                      </label>
                    </div>
    
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-2 " style="width: 100%;">
                      Sign up
                    </button>
    
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>or sign up with:</p>
                      <a class="btn btn-link btn-floating mx-1">
                        <i class="bi bi-facebook"></i>
                      </a>
    
                      <a  class="btn btn-link btn-floating mx-1">
                        <i class="bi bi-google"></i>
                      </a>
    
                      <a  class="btn btn-link btn-floating mx-1">
                        <i class="bi bi-twitter-x"></i>
                      </a>
    
                      <a  class="btn btn-link btn-floating mx-1">
                        <i class="bi bi-github"></i> 
                      </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      